{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Vítejte v administraci{% endblock %}

{% block content %}
    <div class="content-panel">
        <h2>Vítejte!</h2>
        <p>Jste přihlášeni do správy poznámek.</p>
    </div>
{% endblock %}
